
DependencyInjectionInWPF/DependencyInjectionInWPF.csproj.user
DependencyInjectionInWPF/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
DependencyInjectionInWPF/obj/Debug/net8.0-windows/App.g.i.cs
DependencyInjectionInWPF/obj/Debug/net8.0-windows/DependencyInjectionInWPF.AssemblyInfo.cs
DependencyInjectionInWPF/obj/Debug/net8.0-windows/DependencyInjectionInWPF.AssemblyInfoInputs.cache
DependencyInjectionInWPF/obj/Debug/net8.0-windows/DependencyInjectionInWPF.assets.cache
DependencyInjectionInWPF/obj/Debug/net8.0-windows/DependencyInjectionInWPF.designer.deps.json
DependencyInjectionInWPF/obj/Debug/net8.0-windows/DependencyInjectionInWPF.designer.runtimeconfig.json
DependencyInjectionInWPF/obj/Debug/net8.0-windows/DependencyInjectionInWPF.GeneratedMSBuildEditorConfig.editorconfig
DependencyInjectionInWPF/obj/Debug/net8.0-windows/DependencyInjectionInWPF.GlobalUsings.g.cs
DependencyInjectionInWPF/obj/Debug/net8.0-windows/DependencyInjectionInWPF_MarkupCompile.i.cache
DependencyInjectionInWPF/obj/Debug/net8.0-windows/MainWindow.g.i.cs
DependencyInjectionInWPF/obj/DependencyInjectionInWPF.csproj.nuget.dgspec.json
DependencyInjectionInWPF/obj/DependencyInjectionInWPF.csproj.nuget.g.props
DependencyInjectionInWPF/obj/DependencyInjectionInWPF.csproj.nuget.g.targets
DependencyInjectionInWPF/obj/project.assets.json
DependencyInjectionInWPF/obj/project.nuget.cache
